.sequence-scroll {
    position: relative;
    overflow-x: hidden;
    @include sm {
        &:before {
            content: "dfgfg";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(black, 0.8);
            backdrop-filter: blur(6px);
            z-index: 1;
        }
    }
}
.sequence-section {
    position: relative;
    z-index: 1;
    &__container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include sm {
            justify-content: center;
        }
        &:has(.sequence-section__mob-image_strap) {
            min-height: 70vh;
            .sequence-section__content {
                margin-top: 10rem;
            }
        }
    }
    &__content {
        max-width: 33.333rem;
        
        &_right {
            margin-left: auto;
        }
        &_align-right {
            text-align: right;
            @include sm {
                text-align: left;
            }
        }
        &_full {
            max-width: 100%;
            width: 100%;
            //align-self: flex-start;
        }
        &_top {
            margin-bottom: 15%;
        }
    }
    &__btns {
        max-width: 23.333rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        @include sm {
            max-width: 100%;
        }
    }
    &__apps {
        align-items: center;
        justify-content: flex-end;
        display: flex;
        gap: 2rem;
        a {
            font-size: 1.333rem;
            color: white;
            &:hover {
                color: $orange;
            }
        }
        .icon-ico-apple {
            font-size: 1.6rem;
        }
        @include sm {
            max-width: 100%;
            justify-content: flex-start;
        }
    }
    &__mob-image {
        display: none;
        pointer-events: none;
        @include sm {
            display: block;
        }
        &_intro {
            text-align: center;
            margin-bottom: 4rem;
        }
        &_case {
            margin: 0 -1rem -4rem;
            img {
                width: 100%;
            }
        }
        &_tech {
            position: relative;
            margin: 0 -1rem;
            img {
                right: 0;
                top: -35rem;
                position: absolute;
                z-index: -1;
            }
        }
        &_strap {
            position: relative;
            margin: 0 -1rem;
            img {
                right: 0;
                top: -30rem;
                position: absolute;
                z-index: -1;
            }
        }
        &_soft {
            margin: 0 -1rem 3rem;
            img {
                width: 100%;
            }
        }
    }
}
.honeycomb-bg:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-image: url('../img/index/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    z-index: -1;
    @include md {
        display: none;
    }
}
.gphg {
    margin: 5.333rem 0 -5.333rem;
    max-width: 26.667rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    span {
        font-size: .8rem;
    }
    @include sm {
        margin: 2rem 0 -2rem;
    }
}

.sequence-bg {
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &.stop {
        position: absolute;
        bottom: 0;
        top: auto;
    }
}

.tech-params-list {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    &__title {
        font-size: .8rem;
        text-transform: uppercase;
    }
    &__data {
        font-weight: 100;
        font-size: 2.667rem;
    }
    small {
        font-size: 50%;
    }
}

.lamps-info {
    margin-top: 2rem;
    max-width: 12.667rem;
    hr {
        margin: 1rem 0;
        height: 1px;
        background: rgba(white, 0.3);
        border: none;
    }
    span {
        font-size: .8rem;
    }
    @include sm {
        margin-left: auto;
        margin-right: auto;
    }
}
.logo-engraved {
    display: flex;
    align-items: center;
    gap: .533rem;
    font-size: .8rem;
    text-transform: uppercase;
    img {
        width: 2.333rem;
    }
}
.functions-list {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    @include md {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 4rem;
    }
    @include md {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__image {
        height: 7.667rem;
        display: flex;
        align-items: center;
        @include md {
            justify-content: center;
        }
    }
    &__title {
        margin-top: .667rem;
        display: block;
        text-transform: uppercase;
        font-weight: 500;
    }
    &__text {
        font-size: .8rem;
    }
}
.preview-carusel {
    overflow: visible;
    @include sm {
        margin-bottom: 3rem;
    }
    .swiper-slide {
        width: 33.333rem;
        @include md {
            width: 20rem;
        }
        @include xs {
            width: 17rem;
        }
    }
    .swiper-pagination {
        width: auto;
        left: auto;
        right: 0;
        top: -3rem;
        @include sm {
            right: 0;
            left: 0;
            top: auto;
            bottom: -3.2rem;
        }
    }
    .swiper-pagination-bullet {
        width: 1rem;
        height: 1rem;
        border: .067rem white solid;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        border-color: $orange;
        background-color: $orange;
    }
    &__thumb {
        position: relative;
    }
    &__image {
        display: block;
        border: 1px $line solid;
        overflow: hidden;
        transition: all 0.3s;
        img {
            width: 100%;
            transition: all 0.3s;
        }
        &:hover {
            border-color: $orange;
            img {
                transform: scale(1.1);
            }
        }
    }
    &__name {
        margin-top: 1rem;
    }
    &__time {
        display: inline-block;
        font-size: .8rem;
        text-transform: uppercase;
        color: rgba(white,0.3);
        margin-left: 1rem;
    }
    &__360 {
        bottom: 1rem;
        left: 2rem;
        position: absolute;
        appearance: none;
        background: none;
        border: none;
        cursor: pointer;
        color: white;
        transition: all 0.3s;
        &:hover {
            color: $orange;
        }
        svg {
            width: 70px;
            height: auto;
            @include sm {
                width: 50px;
            }
        }
        @include sm {
            bottom: 0.5rem;
            left: 0.5rem;
        }
    }
}
.add-amp {
    position: relative;
    display: block;
    margin-left: 9rem;
    @include sm {
        display: inline;
        margin: 0;
    }
    &:before {
        content: url('../img/index/ampersand.svg');
        position: absolute;
        left: -6rem;
        top: -0.667rem;
        @include sm {
            display: none;
        }
    }
    
}
.order-section {
    position: relative;
    display: grid;
    grid-template-columns: 23.333rem 1fr 23.333rem;
    @include lg {
        grid-template-columns: 16.667rem 1fr 13.333rem;
    }
    @include md {
        grid-template-columns: 1fr;
    }
    &__product {
        text-align: center;
        @include sm {
            img {
                width: 60%;
            }
        }
    }
    &__buy {
        @include sm {
            h2 br {
                display: none;
            }
        }
    }
    &__price {
        margin: 3rem 0;
        display: grid;
        grid-template-columns: 1fr;
        @include sm {
            margin: 2rem 0;
        }
    }
    &__price-summ {
        font-weight: 100;
        font-size: 4rem;
        @include sm {
            font-size: 3rem;
        }
    }
    &__left {
        align-self: center;
        @include sm {
            text-align: center;
        }
    }
    &__right {
        align-self: self-end;
        padding-bottom: 5rem;
        @include sm {
            text-align: center;
            padding-bottom: 0rem;
            p {
                margin: 1rem 0;
            }
        }
    }
    &__fit {
        margin-top: 8rem;
        .icon {
            font-size: 3rem;
        }
        @include sm {
            margin: 2rem 0;
        }
    }
    &__video {
        font-size: .8rem;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        gap: .5rem;
        color: white;
        transition: all 0.3s;
        span {
            font-size: 1rem;
        }
        &:hover {
            color: $orange;
        }
    }
}
.fit-btn {
    border: none;
    background: none;
    font-size: .8rem;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    color: white;
    appearance: none;
    transition: all 0.3s;
    &:hover {
        color: $orange;
    }
    @include sm {
        align-items: center;
    }
}