@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root("::-webkit-input-placeholder") {
        @content;
    }

    @include optional-at-root(":-moz-placeholder") {
        @content;
    }

    @include optional-at-root("::-moz-placeholder") {
        @content;
    }

    @include optional-at-root(":-ms-input-placeholder") {
        @content;
    }
}

@mixin scrollbars(
    $size,
    $foreground-color,
    $background-color: mix($foreground-color, white 50%)
) {
    // For Google Chrome
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
    }

    // For Internet Explorer
    & {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

@mixin xs {
    @media only screen and (max-width: $xsBreakpoint) {
        @content;
    }
}

@mixin sm {
    @media only screen and (max-width: $smBreakpoint) {
        @content;
    }
}

@mixin md {
    @media only screen and (max-width: $mdBreakpoint) {
        @content;
    }
}

@mixin lg {
    @media only screen and (max-width: $lgBreakpoint) {
        @content;
    }
}

@mixin xl {
    @media only screen and (max-width: $xlBreakpoint) {
        @content;
    }
}
