
/* -------------------------------- modal-nav ------------------------------- */
.modal-nav {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    &__links {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__link {
        font-family: $mgj;
        font-size: 2.667rem;
        text-decoration: none;
        color: #fff;
        &:hover {
            color: $orange;
        }
        @include sm {
            text-align: center;
            font-size: 2rem;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        @include sm {
            flex-direction: column;
            align-items: center;
        }
    }
    &__logo {
        margin-left: auto;
        @include sm {
            margin-left: 0;
            width: 3rem;
        }  
    }
    &__socials {
        display: flex;
        gap: 2rem;
    }
    &__social-link {
        width: 1.6rem;
        &:hover {
            opacity: 0.5;
        }
        img {
            width: 100%;
        }
    }
    &__other-links {
        margin-left: 4rem;
        display: flex;
        font-size: 12px;
        gap: 2rem;
        @include sm {
            margin: 2rem 0;
        }  
        a {
            color: #fff;
            font-weight: 500;
            text-transform: uppercase;
            &:hover {
                color: $orange;
            }
        }
    }
}

/* ------------------------------- modal-order ------------------------------ */
.modal-order {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 3rem 10rem;
    @include md {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    &__bottom {
        grid-column: 2 span;
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 3rem 10rem;
        @include md {
            grid-column: 1;
            grid-template-columns: 1fr auto;
            gap: 0;
        }
    }
    &__logo {
        margin-left: auto;
        @include md {
            width: 3rem;
        }
        @include sm {
            display: none;
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        @include sm {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    &__step {
        margin-left: auto;
        font-family: $mgj;
        color: #383838;
        @include sm {
            display: none;
        }
    }
    &__cart {
        margin-top: -2rem;
    }
    &__cart-line {
        min-height: 4.4rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        border-bottom: 1px $line solid;
        span {
            margin-right: auto;
        }
        b {
            font-weight: 600;
        }
    }
    &__count {
        margin-left: auto;
    }
    &__ship-note {
        display: block;
        font-size: 12px;
        margin-top: 2rem;
    }
    &__next-step {
        width: 15rem
    }
    &__2cols {
        display: grid;
        align-items: end;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    &__payments {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    &__final-quant {
        margin-right: 2rem;
    }
    &__payments-item {
        color: white;
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        border: 1px white solid;
        height: 4.667rem;
        padding: 0 2rem;
        align-items: center;
        @include sm {
            height: 3.5rem;
            padding: 0 1rem;
            font-size: .8rem;
        }
        &:hover {
            background: rgba(white,0.2);
        }
    }
    &__status {
        margin-top: 3rem;
        display: inline-block;
        border: 2px dashed $orange;
        color: $orange;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1.333rem;
        padding: 10px 30px;
        @include sm {
            text-align: center;
            display: block;
            padding: 5px 1rem;
        }
    }
}