
/* -------------------------------- modal-nav ------------------------------- */
.modal-nav {
    display: flex;
    flex-direction: column;
    gap: 60px;
    &__links {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__link {
        font-family: $mgj;
        font-size: 40.005px;
        text-decoration: none;
        color: #fff;
        &:hover {
            color: $orange;
        }
        @include sm {
            text-align: center;
            font-size: 30px;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        @include sm {
            flex-direction: column;
            align-items: center;
        }
    }
    &__logo {
        margin-left: auto;
        @include sm {
            margin-left: 0;
            width: 45px;
        }  
    }
    &__socials {
        display: flex;
        gap: 30px;
        & + .modal-nav__logo {
            margin-top: 60px;
        }
    }
    &__social-link {
        font-size: 19.995px;
        color: white;
        &:hover {
            color: $orange;
        }
    }
    &__other-links {
        margin-left: 60px;
        display: flex;
        font-size: .8rem;
        gap: 30px;
        @include sm {
            margin: 30px 0;
        }  
        a {
            color: #fff;
            font-weight: 500;
            text-transform: uppercase;
            &:hover {
                color: $orange;
            }
        }
    }
}

/* ------------------------------- modal-order ------------------------------ */
.modal-order {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 45px 150px;
    @include md {
        grid-template-columns: 1fr;
        gap: 45px;
    }
    h2,h3 {
        line-height: 60px;
        @include sm {
            line-height: normal;
        }
    }
    &__bottom {
        grid-column: 2 span;
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 45px 150px;
        @include md {
            grid-column: 1;
            grid-template-columns: 1fr auto;
            gap: 0;
        }
    }
    &__logo {
        margin-left: auto;
        @include md {
            width: 45px;
        }
        @include sm {
            display: none;
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        gap: 1rem;
        @include sm {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: start;
            .c-button_clear {
                padding: 0;
            }
        }
    }
    &__step {
        margin-left: auto;
        font-family: $mgj;
        color: #383838;
        @include sm {
            display: none;
        }
    }
    &__cart {
        margin-top: -30px;
    }
    &__cart-line {
        min-height: 68px;
        display: flex;
        align-items: center;
        gap: 30px;
        border-bottom: .067rem $line solid;
        span {
            margin-right: auto;
        }
        b {
            font-weight: 600;
        }
    }
    &__count {
        margin-left: auto;
    }
    &__ship-note {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: .8rem;
        margin-top: 30px;
        > span {
            text-transform: uppercase;
        }
        & + & {
            margin-top: 0.5rem;
        }
    }
    &__next-step {
        width: 225px;
        @include sm {
            width: 100%;
        }
    }
    &__2cols {
        display: grid;
        align-items: end;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    &__payments {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }
    &__final-quant {
        margin-right: 30px;
    }
    &__payment-radio {
        display: none;
        &:checked + label {
            border-color: $orange;
            background: rgba($orange,0.2);
        }
    }
    &__payments-item {
        cursor: pointer;
        color: white;
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        border: .067rem white solid;
        height: 70.005px;
        padding: 0 30px;
        align-items: center;
        @include sm {
            height: 52.5px;
            padding: 0 15px;
            font-size: 12px;
        }
        &:hover {
            background: rgba(white,0.2);
        }
    }
    &__status {
        margin-top: 45px;
        display: inline-block;
        border: .133rem dashed $orange;
        color: $orange;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 19.995px;
        padding: .667rem 2rem;
        @include sm {
            text-align: center;
            display: block;
            padding: .333rem 15px;
        }
    }
    &__show-order {
        display: none;
        @include md {
            display: block;
        }
    }
    &__order-data {
        @include md {
            display: none;
        }
    }
}

/* -------------------------------- mobal-fit ------------------------------- */
.mobal-fit {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    &__content {
        position: relative;
        z-index: 1;
        img {
            vertical-align: middle;
        }
    }
    &__hand {
        @include sm {
            display: none;
        }
    }
    &__watch {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -139px 0 0 -80px;
        z-index: 1;
        @include sm {
            position: static;
            margin: 0;
        }
    }
    &__video {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include sm {
            display: block;
        }
    }
    &__qr {
        width: 100%;
        max-width: 82.467rem;
        padding: 0 2rem;
        gap: 1rem;
        display: flex;
        align-items: flex-end;
        span {
            max-width: 25rem;
        }
        @include sm {
            display: none;
        }
    }
    &__scale {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        flex-direction: column;
        gap: 1rem;
        display: none;
        z-index: 1;
        @include sm {
            display: flex;
        }
    }
    &__scale-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        border: 2px black solid;
        border-radius: 50%;
        background: $orange;
        font-size: 2.5rem;
        cursor: pointer;
        position: relative;
        &:after,
        &:before {
            content: "";
            position: absolute;
            display: block;
            width: 1.4rem;
            height: 1px;
            background: black;
            left: 50%;
            top: 50%;
            margin-left: -0.7rem;
        }
        &_plus:after {
            transform: rotate(90deg);
        } 
    }
    
}

/* ------------------------------ modal-view360 ----------------------------- */
.modal-view360 {
    height: 100%;
    display: flex;
    overflow: hidden;
    &__container {
        margin: auto;
        max-width: 600px;
    }
    .cloudimage-360-loader {
        display: none;
    }
    .cloudimage-360-view-360-icon {
        background: rgba($orange, 0.8);
        border: none;
        box-shadow: none;
        backdrop-filter: blur(5px);
        color: black;
        font-size: 2rem;
        font-weight: 600;
    }
}

/* ------------------------------ video-modal ----------------------------- */
.video-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    video {
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
}