.orange-text {
    color: $orange !important;
}
.orange-bg {
    background-color: $orange !important;
}

.c-button {
    $root: &;
    font-family: $inter;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    height: 2.667rem;
    padding: 0 2rem;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    appearance: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    &_clear {
        font-size: 12px;
        &:hover {
            color: $orange;
        }
    }
    &_white {
        border: 2px white solid;
        &#{$root}_filled {
            color: black;
            background: white;
        }
        &#{$root}_outline {
            color: white;
            background: black;
            &:hover {
                background: white;
                color: black;
            }
        }
    }
    &_orange {
        border: 2px $orange solid;
        &#{$root}_filled {
            color: black;
            background: $orange;
            &:hover {
                background: black;
                color: $orange;
            }
        }
        &#{$root}_outline {
            color: white;
            background: $orange;
            
        }
    }
    &_full {
        width: 100%;
    }
    &_icon {
        gap: 8px;
        .icon {
            font-size: 18px;
        }
    }
    &_disabled,
    &:disabled {
        pointer-events: none;
        background: #ccc !important;
        border-color: #ccc !important;
    }
    &_load {
        position: relative;
        color: transparent !important;
        pointer-events: none;
        &:after {
            content: "";
            left: 50%;
            top: 50%;
            display: block;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            border: 2px white solid;
            border-right: 2px transparent solid;
            animation: 0.5s spin infinite linear;
            position: absolute;
            margin: -0.6rem 0 0 -0.5rem;
        }
    }
}

.c-input {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    &:has(.c-input__field:focus):after {
        width: 100%;
        opacity: 1;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background: $orange;
        transition: width 0.3s ease-in-out;
        opacity: 0;
    }
    &__field {
        line-height: 2.333rem;
        color: white;
        font-weight: 400;
        width: 100%;
        background: none;
        border: none;
        border-bottom: 1px $line solid;
        outline: none;
        &:not(:placeholder-shown) + label,
        &:focus + label, {
            transform: translateY(-1.667rem);
            font-size: 10px;
            color: $orange;
        }
        @include placeholder {
            visibility: hidden;
            opacity: 0;
        }
    }
    &__textarea {
        color: #fff;
        border: 1px white solid;
        padding: 1rem;
        background: none;
        width: 100%;
        resize: vertical;
        height: 16.667rem;
        outline: none;
        &:focus {
            border-color: $orange;
        }
    }
    &__label {
        text-transform: uppercase;
        font-size: .933rem;
        font-weight: 500;
        line-height: 2.333rem;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(.47,1.64,.41,.8);
        &_static {
            position: static;
            display: block;
            margin-bottom: 0.5rem;
            text-transform: uppercase;
            font-weight: 500;
            font-size: .933rem;
        }
    }
    &__error {
        pointer-events: none;
        position: absolute;
        bottom: -1.333rem;
        right: 0;
        color: rgb(250, 77, 77);
        font-size: .667rem;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.c-textarea {
    margin-top: 2rem;
    &:first-child {
        margin-top: 0px;
    }
    &__label {
        display: block;
        margin-bottom: 0.5rem;
    }
    &__field {
        min-height: 8rem;
        border: 1px white solid;
        background: none;
        resize: none;
        color: white;
        font-weight: 400;
        width: 100%;
        background: none;
        outline: none;
        padding: 1rem;
        transition: all 0.3s;
        &:focus {
            border-color: $orange;
            box-shadow: 0 0 4px 1px #FF7426, 0 0 4px 1px #FF7426 inset;
        }
    }
}

.select2 {
    width: 100%;
    border-bottom: 1px $line solid;
    &.select2-container--open {
        border-bottom-color: $orange;
    }
}
.select2-container--default .select2-selection--single {
    border: none;
    background: none;
}
.select2-container .select2-selection--single {
    height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2.333rem;
    padding-left: 0px;
    text-transform: uppercase;
}
.select2-dropdown {
    background: black;
    border: 1px $orange solid;
    border-radius: 0;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background: rgba($orange, 1);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: rgba($orange, 0.7);
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #fff;
}



.blocker {
    padding: 0px;
    z-index: 11;
}

.modal-fs {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background: black;
    overflow: auto;
    padding: 0;
    a.close-modal {
        position: fixed;
        left: 130px;
        top: 16px;
        width: 50px;
        height: 50px;
        background: none;
        color: transparent;
        &:after, &:before {
            content: "";
            position: absolute;
            top: 50%;
            display: block;
            width: 100%;
            height: 1px;
            background: #fff;
            @include sm {
                background:$orange;
            }
        }
        &:after {
            transform: rotate(45deg);
        }
        &:before {
            transform: rotate(-45deg);
        }
        @include md {
            left: 1rem;
        }
        @include sm {
            width: 2rem;
            height: 2rem;
            border: 1px $orange solid;
            background: black;
        }
    }
    &__body {
        min-height: 100%;
        padding: 4rem 0;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
    }
}



.product-counter {
    display: flex;
    align-items: center;
    &__quant {
        appearance: none;
        background: none;
        height: 20px;
        border: none;
        color: white;
        width: 2rem;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
    }
    &__btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        width: 1.333rem;
        height: 1.333rem;
        border: 2px white solid;
        background: none;
        color: #fff;
        appearance: none;
        cursor: pointer;
        &:hover {
            color: $orange;
            border-color: $orange;
        }
    }
}


.preloader {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 999;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        gap: 3rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    &__logo {
        width: 10rem;
    }
    &__progress {
        width: 250px;
        border: 1px solid white;
        div {
            height: 3px;
            background: #fff;
            width: 50%;
        }
    }
}

.fit-btn {
    border: none;
    background: none;
    font-size: .8rem;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    color: white;
    appearance: none;
    transition: all 0.3s;
    &:hover {
        color: $orange;
    }
    @include sm {
        align-items: center;
    }
}

.iti {
    width: 100%;
    &__country-list {
        background: black;
        border-color: $orange;
        @include scrollbars(5px, $orange, black);
    }
    + label {
        transform: translateY(-1.667rem);
        font-size: 10px;
        color: $orange;
    }
    &__highlight {
        background: rgba($orange,0.2) !important;
    }
}
@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}